<div class="flex-wrap Dashboard-btn">
    <a asp-action="MovieCRUD" class="btn btn-dark">Movies CRUD</a>
    <a asp-controller="Actors" asp-action="AllActors"  class="btn btn-dark">Actors CRUD</a>
    <a asp-action="CinemaCRUD" class="btn btn-dark">Cinema CRUD</a>
    <a asp-action="CategoryCRUD" class="btn btn-dark">Category CRUD</a>
    <a asp-controller="Actors" asp-action="AssignActors" class="btn btn-dark">Assigned Actors CRUD</a>
</div>