@model ICollection<Movie>


    @* Partial for the view of the movie *@
<div class="cards-wrap">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_ViewCards", item)
    }
</div>


 @* java script code to make the button of booking disabled and red in case the movie status is Expired *@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".book-btn").each(function () {
            var movieStatus = $(this).data("moviestatus");
            if (movieStatus == 2) { 
                $(this).removeClass("btn-success").addClass("btn-danger disabled").text("Expired").prop("disabled", true);
            }
        });
    });
</script>