<div class="flex-wrap Dashboard-btn">
    <a asp-area="Admin" asp-controller="Movie" asp-action="index" class="btn btn-dark">Movies Panel</a>
    <a asp-area="Admin" asp-controller="Actor" asp-action="index" class="btn btn-dark">Actors Panel</a>
    <a asp-area="Admin" asp-controller="Cinema" asp-action="index" class="btn btn-dark">Cinema Panel</a>
    <a asp-area="Admin" asp-controller="Category" asp-action="index" class="btn btn-dark">Category Panel</a>
    <a asp-area="Admin" asp-controller="Sales" asp-action="index" class="btn btn-dark">Sales Panel</a>
</div>