@model ICollection<Movie>

@{
    bool showStar;
    if (User.Identity.IsAuthenticated)
    {
        showStar = true;
    }
    else
    {
        showStar = false;
    }
}

<h3>Search Result:-</h3>
<hr />

<div class="cards-wrap">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_ViewCards", item, new ViewDataDictionary(ViewData) { { "ShowStar", showStar } })
    }
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".book-btn").each(function () {
            var movieStatus = $(this).data("moviestatus");
            if (movieStatus == 2) {
                $(this).removeClass("btn-success").addClass("btn-danger disabled").text("Expired").prop("disabled", true);
            }
        });
    });
</script>



<script>
    $(document).ready(function () {
        $('.card-star').on('click', function (event) {
            event.preventDefault();
            const movieId = $(this).data('movie-id');
            const starElement = $(this);

            $.ajax({
                url: '@Url.Action("AddToWishlist", "Wishlist")',
                type: 'POST',
                data: { movieId: movieId },
                success: function (response) {
                    if (response.success) {
                        starElement.toggleClass('golden-star');
                        toastr.success('Movie added to wishlist successfully!');
                    } else {
                        toastr.info(response.message);
                    }
                },
                error: function () {
                    toastr.error('An error occurred while adding the movie to the wishlist.');
                }
            });
        });
    });
</script>
