<div class="d-flex align-items-center justify-content-center vh-100" style="border-radius:10px;background:linear-gradient(to right, #180242,#4a3570);">
    <div class="text-center">
        <h1 class="display-1 fw-bold"><i class="bi bi-shield-fill-exclamation"></i></h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Something Went Wrong.</p>
        <p class="lead">
            Something wrong while adding the information, or maybe the developer screw up.
        </p>
        <a href="/Customer/home" class="btn btn-primary">Go Home</a>
    </div>
</div>
