html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    margin-top: 20px
}
main{
}
.Search-bar form{
    display:flex;
    justify-content:space-between;
    gap:10px;
}
.card-button {
    margin-left:1rem;
    margin-top:0.7rem;
}
.cards-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.not-found {
    margin: 50px;
    color:brown;
}
.not-found-container {
    width: 100%;
    margin-top: 250px;
    background-color:salmon;
    border-color:brown;
}



.card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    }

.card-header, .card-body, .card-button a {
    background-color: #f8f9fa;
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    margin-bottom: 1rem;
}

.card-button a {
    margin-right: 10px;
}

.book-btn.btn-danger {
    background-color: red !important;
    border-color: red !important;
