html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 60px;
    background-image: url('../images/Background3.jpeg');
    background-size: cover;
    background-attachment: fixed;
    color: #fff
}

h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff; /* Background color for table */
    color: #333; /* Text color for table */
}

    .table th, .table td {
        padding: 10px;
        border: 0px solid #ddd;
        text-align: left;
    }

    .table th {
        background: linear-gradient(to bottom, #180242,#4a3570);
        color: #fff;
    }

    .table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table tr:hover {
        background-color: #ddd;
    }

    .table a {
        color: #10255c;
        text-decoration: none;
    }

        .table a:hover {
            text-decoration: underline;
        }


.container {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    color: #fff;
}

.container2 {
    background: rgba(202, 199, 212, 0.7);
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
}

main {
}

.actors-img {
    width: 50px;
}

.Search-bar form {
    display: flex;
    z-index: 1000;
}

#suggestions {
    position: absolute;
    top: 100%;
    left: 75%;
    max-width: 320px;
    z-index: 1050; /* to be in the top */
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .Search-bar form {
        flex-direction: row;
    }

    #suggestions {
        position: absolute;
        top: 100%;
        left: 0%;
        max-height: 300px; /* Limit the height to 3 items */
    }

        #suggestions a {
            display: flex;
            align-items: center;
            padding: 10px;
        }

        #suggestions img {
            margin-right: 10px;
        }
}

#suggestions {
    z-index: 1050; /* Ensure it stays on top of other elements */
}


.Search-bar .form-control {
    margin-right: 10px;
}

.card-button {
    margin-left: 1rem;
    margin-top: 0.7rem;
}

.cards-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.not-found {
    margin: 50px;
    color: brown;
}

.not-found-container {
    width: 100%;
    margin-top: 250px;
    background-color: salmon;
    border-color: brown;
}

.btn-color {
    background: linear-gradient(to bottom, #180242,#4a3570);
}

.av-badge {
    background-color: royalblue;
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 1.1rem;
}

.dtl-str {
    font-size: 1.5rem;
    padding: 0px 25px 3px 25px;
    color: white;
    border-radius: 7px;
    background: royalblue;
    /*        linear-gradient(to bottom, #9484b3,#827b8f);*/
    display: inline-block;
    transition: 0.6s;
}

    .dtl-str:hover {
        color: royalblue;
        transform: scale(1.1);
        background: white;
    }

.card-star {
    display: inline-block;
    position: absolute;
    /*    display:contents;*/
    right: 5%;
    bottom: 85%;
    color: #263078;
    font-size: 1.9rem;
}

.golden-star {
    color: gold;
}

    .golden-star:hover {
        color: gold !important;
        /*        background: royalblue !important;*/
        -webkit-text-stroke: 2px gold !important;
    }

.card-star:hover {
    color: white;
    -webkit-text-stroke: 2px #4a3570;
}

.wish-del {
    position: absolute;
    /*    display:contents;*/
    right: 5%;
    bottom: 81%;
    border-radius:20px;
    opacity:90%;
}

.card {
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    z-index: 100;
}

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    }

.card-header, .card-body {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}

.card-header {
    background: linear-gradient(to top, #2c4391,#4a3570);
    color: #fff;
    padding: 10px 15px;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    font-family: 'Lobster', cursive;
}

.card-text {
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
}

.card-img {
    height: 16.45rem;
    border-radius: 0px 0px 15px 0px;
}


.card-button {
    margin-top: 1rem;
    display: flex;
    margin-left: 7rem;
    justify-content: end;
}

    .card-button a {
        margin-right: 10px;
    }

.book-btn.btn-danger {
    background-color: red !important;
    border-color: red !important;
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
    }

    .card-img {
        height: 27.45rem;
    }
}

.nav-icon {
    /*    display: inline-block;*/
    font-size: 1.5rem;
}

.dropdown a {
    color: aliceblue;
}

    .dropdown a:hover {
        color: grey;
    }

.dropdown-menu a {
    color: black;
}

.navbar {
    background: linear-gradient(to right, #180242,#4a3570); /* Gradient from dark gray to slightly lighter gray */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 1.8rem;
    color: #FFD700;
}

.navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 1.005rem;
    color: #333;
}

    .navbar-nav .nav-link:hover {
        color: #FF4500;
    }

.navbar-nav .nav-item.active .nav-link {
    color: #007bff;
}
/*
footer {
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: #ccc;
}
*/


.error-page {
    text-align: center;
}

    .error-page .error-inner {
        display: inline-block;
    }

        .error-page .error-inner h1 {
            font-size: 140px;
            text-shadow: 3px 5px 2px #3333;
            color: #d2c5fc;
            font-weight: 700;
        }

            .error-page .error-inner h1 span {
                display: block;
                font-size: 25px;
                color: #d2c5fc;
                font-weight: 600;
                text-shadow: none;
            }

        .error-page .error-inner p {
            padding: 20px 15px;
        }

    .error-page .search-form {
        width: 100%;
        position: relative;
    }

        .error-page .search-form input {
            width: 400px;
            height: 50px;
            padding: 0px 78px 0 30px;
            border: none;
            background: #d2c5fc;
            border-radius: 5px;
            display: inline-block;
            margin-right: 10px;
            font-weight: 400;
            font-size: 14px;
        }

        .error-page .search-form .btn {
            width: 80px;
            height: 50px;
            border-radius: 5px;
            cursor: pointer;
            background: #9172f7;
            display: inline-block;
            position: relative;
            top: -2px;
        }

            .error-page .search-form .btn i {
                font-size: 16px;
            }

            .error-page .search-form .btn:hover {
                background: #d2c5fc;
            }

@media (max-width: 768px) {
    .error-page .error-inner h1 span {
        display: flex;
        position: center;
    }

    .error-page .search-form {
        width: 100%;
        display: flex;
        position: center;
    }

        .error-page .search-form input {
            width: 260px;
            padding: 0px 65px 0 30px;
        }

        .error-page .search-form .btn {
            width: 55px;
            height: 50px;
            display: inline-block;
            position: relative;
            top: 20px;
        }
}

.reglar-text {
    font-size: 60px;
    text-shadow: 3px 5px 2px #3333;
    color: #d2c5fc;
    font-weight: 700;
}

.Dashboard-btn a {
    display: inline-block;
    padding: 4rem 5rem;
    margin: 1rem;
    margin-left: 5rem;
    width: 14rem;
    height: 12rem;
    border-radius: 20px;
    background: linear-gradient(to bottom, #180242,#4a3570);
    transition: 0.5s;
    border: 1.5px solid #000000;
}

    .Dashboard-btn a:hover {
        transform: scale(1.05);
        background: linear-gradient(to top, #180242,#4a3570);
        border: 1px solid #ddd;
    }


._failed {
    border-bottom: solid 4px red !important;
}

    ._failed i {
        color: red !important;
    }

._success {
    box-shadow: 0 15px 25px #00000019;
    padding: 45px;
    width: 100%;
    text-align: center;
    margin: 40px auto;
    border-bottom: solid 4px #28a745;
}

    ._success i {
        font-size: 55px;
        color: #28a745;
    }

    ._success h2 {
        margin-bottom: 12px;
        font-size: 40px;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 10px;
    }

    ._success p {
        margin-bottom: 0px;
        font-size: 18px;
        color: #495057;
        font-weight: 500;
    }
