@model ICollection<Cinema>

<h2>Cinemas</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>

                <td>
                    <a href="/Cinema/Details?id=@item.Id">All Movies</a>
                </td>
            </tr>
        }
    </tbody>


</table>